<head>
  <title> Signup Form Design Tutorial </title>   
  <link rel="stylesheet" type="text/css" href="/public/css/signup2.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div id="login-box">
      <div class="left-box">
        <h1> Sign Up</h1>
          <form action="/signup" method="POST" id="signup-form">
            <label for="username_id">
              <input type="text" name="username" placeholder="Username" id="username_id"/>
            </label>
          
            <label for="email_id">
              <input type="text" name="email" placeholder="Email" id="email_id"/>
            </label>
            
            <label for="password_id">
              <input type="password" name="password" placeholder="Password" id="password_id"/>
            </label>
            
            <label for="re-enter_password">
              <input type="password" name="password2" placeholder="Retype password" id="re-enter_password"/>
            </label>
            
            <label for="submit-button">
              <input type="submit" name="signup-button" value="Sign Up" id="submit-button"/>
            </label>
            
          </form>
          <div id='error' hidden></div>
          {{#if duplicate_username}}
          <div id="error2">This username has already been taken.</div>
          {{/if}}
        </div>
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../public/js/signup_validation.js"></script>
</body>    